# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
*.mo
db.sqlite3
media/
staticfiles/
*.sqlite3

# Migrations (если хочешь хранить их в git, можешь убрать этот блок)
*/migrations/*.py
!*/migrations/__init__.py

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
